/* similar css for whole site   */
body {
    font-family: 'Open Sans', sans-serif;
    color: #181818;
}

.orange{
    color: #FD6E0A;
}
.btnprimary{
    border-radius: 5px;
background: #FD6E0A;
border:none;
}
/* nav section style */
nav{
    display: flex;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 51px ;
}

nav a {
    text-decoration: none;
}

nav h1 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}